<div class="row">
  <div class="col-4">
    <img [src]="article.img" alt="" style="width: 100%;">
  </div>
  <div class="col-8">
    <h2>{{article.name}}</h2>
    <p style="width: 337px;">{{article.desc}}</p>
    prix : {{article.price}} DT
    <div>
      <input class="number-of-article-input" (ngModelChange)="quantityChanged($event)" type="number"
        [(ngModel)]="quantity">
      <button class="btn btn-primary add-to-chart-btn" (click)="add(this.quantity)" [disabled]="inCart"> Ajouter au
        panier</button>
    </div>
  </div>
</div>
